* {
  box-sizing: border-box;
}

html {
  line-height: 1.6;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: $dark-color;
  color: $light-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $lightest-color;
}

a {
  color: $primary-color;
  transition: color 0.35s;
  text-decoration: none;

  &:hover {
    color: $lightest-color;
  }
}

// formatting for inline `backtick` text
p {
  code {
    font-family: monospace, monospace;
    //  font-size: 1em;
    font-size: 90%;
    background: $darkest-color;
    padding-top: 0.2em;
    padding-right: 0.4em;
    padding-bottom: 0.2em;
    padding-left: 0.4em;
  }
}

// formatting for code blocks, although the syntax highlighting engine does most of the work here
pre {
  code {
    font-family: monospace, monospace;
    font-size: 0.9em;
  }
  overflow: auto;
}

::selection {
  background: rgba($light-color, 0.25);
}
::-moz-selection {
  background: rgba($light-color, 0.25);
}
